{
  "openapi": "3.0.1",
  "info": {
    "title": "feedback API",
    "description": "The feedback service.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://cogcenter.ir/feedback/api"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "manage_comment",
      "description": "The comment API."
    },
    {
      "name": "report",
      "description": "The report API."
    },
    {
      "name": "reaction",
      "description": "The reaction API."
    },
    {
      "name": "rating",
      "description": "The rating API."
    },
    {
      "name": "FeedbackStats",
      "description": "The comment, rating and reaction stats API."
    }
  ],
  "paths": {
    "/v1/reactions": {
      "get": {
        "tags": ["reaction"],
        "summary": "get reaction of entity",
        "operationId": "getReactions",
        "parameters": [
          {
            "name": "dto",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RequestDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/ReactionResponseDTO"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["reaction"],
        "summary": "add a reaction",
        "operationId": "setReaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReactionDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/v1/rating": {
      "get": {
        "tags": ["rating"],
        "summary": "get ration of model",
        "operationId": "getRatings",
        "parameters": [
          {
            "name": "dto",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RequestDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RatingResponseDTO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["rating"],
        "summary": "add a rating",
        "operationId": "setRating",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RatingRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/v1/manager/{page}/un-publish/{id}": {
      "post": {
        "tags": ["manage_comment"],
        "summary": "un publish the comment with all its sub-comment",
        "operationId": "unPublishComment",
        "parameters": [
          {
            "name": "page",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnPublishRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/v1/manager/{page}/comments/publish/{id}": {
      "post": {
        "tags": ["manage_comment"],
        "summary": "Confirm the publication of the comment",
        "operationId": "publishComment",
        "parameters": [
          {
            "name": "page",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/v1/comments": {
      "get": {
        "tags": ["manage_comment"],
        "summary": "Get list of comments",
        "operationId": "getComments_1",
        "parameters": [
          {
            "name": "dto",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RequestDTO"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageCommentResponseDTO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["manage_comment"],
        "summary": "create a comment",
        "operationId": "setComment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/v1/comments/{commentId}/reply": {
      "post": {
        "tags": ["manage_comment"],
        "summary": "reply a comment",
        "operationId": "replyComment",
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplyCommentDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/v1/manager/{page}/comments": {
      "get": {
        "tags": ["manage_comment"],
        "summary": "Get page of comments",
        "operationId": "getComments",
        "parameters": [
          {
            "name": "page",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchDTO",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/CommentSearchDTO"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageCommentResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/v1/internal/report/monthly/comments": {
      "get": {
        "tags": ["report"],
        "operationId": "monthlyReport",
        "parameters": [
          {
            "name": "typeId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "scopeId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/internal/report/daily/comments": {
      "get": {
        "tags": ["report"],
        "operationId": "dailyReport",
        "parameters": [
          {
            "name": "typeId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "scopeId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/internal/feedback-stats": {
      "get": {
        "tags": ["FeedbackStats"],
        "operationId": "getFeedbackStats",
        "parameters": [
          {
            "name": "dto",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RequestDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FeedbackStatsDTO"
                }
              }
            }
          }
        }
      }
    },
    "/v1/internal/feedback-stats/most-controversial": {
      "get": {
        "tags": ["FeedbackStats"],
        "operationId": "getMostComment",
        "parameters": [
          {
            "name": "typeId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "scopeId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "periodLength",
            "in": "query",
            "required": true,
            "schema": {
              "maximum": 30,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FeedbackStatsDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/internal/feedback-stats/list": {
      "get": {
        "tags": ["FeedbackStats"],
        "operationId": "getFeedbackStats_1",
        "parameters": [
          {
            "name": "modelTypeId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "modelIds",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FeedbackStatsDTO"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ReactionDTO": {
        "required": ["modelId", "modelTypeId", "type"],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "userId": {
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "ipAddress": {
            "type": "string",
            "readOnly": true
          },
          "modelTypeId": {
            "type": "integer",
            "format": "int32"
          },
          "modelId": {
            "type": "integer",
            "format": "int64"
          },
          "type": {
            "type": "string",
            "enum": ["LIKE", "DISLIKE"]
          },
          "delete": {
            "type": "boolean"
          }
        }
      },
      "ResponseDTO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "RatingRequestDTO": {
        "required": ["modelId", "modelTypeId"],
        "type": "object",
        "properties": {
          "modelTypeId": {
            "type": "integer",
            "format": "int32"
          },
          "modelId": {
            "type": "integer",
            "format": "int64"
          },
          "score": {
            "maximum": 5,
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "userId": {
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "ipAddress": {
            "type": "string",
            "readOnly": true
          }
        }
      },
      "UnPublishRequestDTO": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string"
          }
        }
      },
      "CommentRequestDTO": {
        "required": ["modelId", "modelTypeId", "scopeId", "text"],
        "type": "object",
        "properties": {
          "modelTypeId": {
            "type": "integer",
            "format": "int32"
          },
          "modelId": {
            "type": "integer",
            "format": "int64"
          },
          "text": {
            "type": "string"
          },
          "scopeId": {
            "type": "integer",
            "format": "int32"
          },
          "userId": {
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "userName": {
            "type": "string",
            "readOnly": true
          },
          "userImage": {
            "type": "string",
            "readOnly": true
          }
        }
      },
      "ReplyCommentDTO": {
        "required": ["text"],
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          },
          "userId": {
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "userName": {
            "type": "string",
            "readOnly": true
          },
          "userImage": {
            "type": "string",
            "readOnly": true
          }
        }
      },
      "RequestDTO": {
        "required": ["modelId", "modelTypeId"],
        "type": "object",
        "properties": {
          "modelTypeId": {
            "type": "integer",
            "format": "int32"
          },
          "modelId": {
            "type": "integer",
            "format": "int64"
          },
          "userId": {
            "type": "integer",
            "format": "int64",
            "readOnly": true
          }
        }
      },
      "ReactionResponseDTO": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int64"
          },
          "userReacted": {
            "type": "boolean"
          }
        },
        "required": ["count", "userReacted"]
      },
      "RatingResponseDTO": {
        "type": "object",
        "properties": {
          "average": {
            "type": "number",
            "format": "double"
          },
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "userScore": {
            "type": "integer",
            "format": "int32"
          },
          "result": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Result"
            }
          }
        }
      },
      "Result": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int64"
          },
          "percent": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "CommentSearchDTO": {
        "type": "object",
        "properties": {
          "modelTypeId": {
            "type": "integer",
            "format": "int32"
          },
          "modelId": {
            "type": "integer",
            "format": "int64"
          },
          "scopeId": {
            "type": "integer",
            "format": "int32"
          },
          "publish": {
            "type": "boolean"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          }
        }
      },
      "Pageable": {
        "type": "object",
        "properties": {
          "page": {
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CommentResponseDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "text": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          },
          "userImage": {
            "type": "string"
          },
          "fileKey": {
            "type": "string"
          },
          "modelType": {
            "$ref": "#/components/schemas/ModelTypeEntity"
          },
          "modelId": {
            "type": "integer",
            "format": "int64"
          },
          "publish": {
            "type": "boolean"
          },
          "unPublishReason": {
            "type": "string"
          },
          "publishAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "reaction": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ReactionResponseDTO"
            }
          }
        }
      },
      "ModelTypeEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "PageCommentResponseDTO": {
        "type": "object",
        "properties": {
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommentResponseDTO"
            }
          },
          "number": {
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "$ref": "#/components/schemas/SortObject"
          },
          "pageable": {
            "$ref": "#/components/schemas/PageableObject"
          },
          "numberOfElements": {
            "type": "integer",
            "format": "int32"
          },
          "first": {
            "type": "boolean"
          },
          "last": {
            "type": "boolean"
          },
          "empty": {
            "type": "boolean"
          }
        }
      },
      "PageableObject": {
        "type": "object",
        "properties": {
          "offset": {
            "type": "integer",
            "format": "int64"
          },
          "sort": {
            "$ref": "#/components/schemas/SortObject"
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "paged": {
            "type": "boolean"
          },
          "unpaged": {
            "type": "boolean"
          }
        }
      },
      "SortObject": {
        "type": "object",
        "properties": {
          "empty": {
            "type": "boolean"
          },
          "sorted": {
            "type": "boolean"
          },
          "unsorted": {
            "type": "boolean"
          }
        }
      },
      "FeedbackStatsDTO": {
        "type": "object",
        "properties": {
          "modelType": {
            "type": "integer",
            "format": "int32"
          },
          "modelId": {
            "type": "integer",
            "format": "int64"
          },
          "commentCount": {
            "type": "integer",
            "format": "int64"
          },
          "rating": {
            "$ref": "#/components/schemas/RatingResponseDTO"
          },
          "reaction": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ReactionResponseDTO"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
