{
    "openapi": "3.0.1",
    "info": {
        "title": "forum API",
        "description": "The forum service.",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://cogcenter.ir/forum/api"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "tags": [
        {
            "name": "category_management",
            "description": "APIs for managing categories. This includes operations to create, update, and retrieve categories."
        }
    ],
    "paths": {
        "/v1/manager/{page}/topics/{topicId}": {
            "put": {
                "tags": [
                    "topic-controller"
                ],
                "operationId": "updateTopic",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "topicId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TopicRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/manager/{page}/categories/{categoryId}": {
            "put": {
                "tags": [
                    "category_management"
                ],
                "operationId": "updateCategory",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "categoryId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CategoryDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/scope/{scopeId}/topics": {
            "get": {
                "tags": [
                    "topic-controller"
                ],
                "operationId": "getTopics",
                "parameters": [
                    {
                        "name": "scopeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "searchDTO",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/TopicSearchDTO"
                        }
                    },
                    {
                        "name": "pageable",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/Pageable"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageTopicResponseDTO"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "topic-controller"
                ],
                "operationId": "createTopic",
                "parameters": [
                    {
                        "name": "scopeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TopicRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/TopicResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/scope/{scopeId}/topic/messages": {
            "post": {
                "tags": [
                    "message-controller"
                ],
                "operationId": "setPublicMessages",
                "parameters": [
                    {
                        "name": "scopeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MessageDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/manager/{page}/topics": {
            "get": {
                "tags": [
                    "topic-controller"
                ],
                "operationId": "getTopics_1",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "searchDTO",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/TopicSearchDTO"
                        }
                    },
                    {
                        "name": "pageable",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/Pageable"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageTopicResponseDTO"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "topic-controller"
                ],
                "operationId": "createTopic_1",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TopicRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/TopicResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/manager/{page}/tags": {
            "post": {
                "tags": [
                    "tag-controller"
                ],
                "operationId": "createTag",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TagEntity"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/TagEntity"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/manager/{page}/categories": {
            "post": {
                "tags": [
                    "category_management"
                ],
                "operationId": "setCategories",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CategoryDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/manager/{page}/topic/messages/{messageId}/publish": {
            "patch": {
                "tags": [
                    "message-controller"
                ],
                "operationId": "getMessage",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "messageId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "isPublish",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/tags": {
            "get": {
                "tags": [
                    "tag-controller"
                ],
                "operationId": "getTags",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TagEntity"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/scope/{scopeId}/topics/{topicId}": {
            "get": {
                "tags": [
                    "topic-controller"
                ],
                "operationId": "getTopicById",
                "parameters": [
                    {
                        "name": "scopeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "topicId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/TopicResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/scope/{scopeId}/topic/{topicId}/messages": {
            "get": {
                "tags": [
                    "message-controller"
                ],
                "operationId": "getPublicMessages",
                "parameters": [
                    {
                        "name": "scopeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "topicId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "pageable",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/Pageable"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageMessageResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/scope/{scopeId}/categories": {
            "get": {
                "tags": [
                    "category_management"
                ],
                "operationId": "getCategories",
                "parameters": [
                    {
                        "name": "scopeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CategoryDTO"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/manager/{page}/topic/{topicId}/messages": {
            "get": {
                "tags": [
                    "message-controller"
                ],
                "operationId": "getMessage_1",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "topicId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "pageable",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/Pageable"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageMessageResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/categories": {
            "get": {
                "tags": [
                    "category_management"
                ],
                "operationId": "getCategories_1",
                "parameters": [
                    {
                        "name": "isEnable",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CategoryDTO"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "TopicRequestDTO": {
                "required": [
                    "categoryId",
                    "enable",
                    "title"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "title": {
                        "type": "string"
                    },
                    "content": {
                        "type": "string"
                    },
                    "categoryId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "enable": {
                        "type": "boolean"
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    "public": {
                        "type": "boolean"
                    }
                }
            },
            "ResponseDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            },
            "CategoryDTO": {
                "required": [
                    "coverImage",
                    "scopeId",
                    "title"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "title": {
                        "type": "string"
                    },
                    "coverImage": {
                        "type": "string"
                    },
                    "fileKey": {
                        "type": "string",
                        "readOnly": true
                    },
                    "scopeId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "enable": {
                        "type": "boolean"
                    },
                    "topicCount": {
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "createAt": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    },
                    "updateAt": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    }
                }
            },
            "FeedbackStatsDTO": {
                "type": "object",
                "properties": {
                    "modelType": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "modelId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "commentCount": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "rating": {
                        "$ref": "#/components/schemas/RatingResponseDTO"
                    },
                    "reaction": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/ReactionResponseDTO"
                        }
                    }
                }
            },
            "RatingResponseDTO": {
                "type": "object",
                "properties": {
                    "average": {
                        "type": "number",
                        "format": "double"
                    },
                    "total": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "userScore": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "result": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/Result"
                        }
                    }
                }
            },
            "ReactionResponseDTO": {
                "type": "object",
                "properties": {
                    "count": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "userReacted": {
                        "type": "boolean"
                    }
                }
            },
            "Result": {
                "type": "object",
                "properties": {
                    "count": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "percent": {
                        "type": "number",
                        "format": "double"
                    }
                }
            },
            "TagEntity": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string"
                    }
                }
            },
            "TopicResponseDTO": {
                "required": [
                    "categoryId",
                    "enable",
                    "title"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "title": {
                        "type": "string"
                    },
                    "content": {
                        "type": "string"
                    },
                    "categoryId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "enable": {
                        "type": "boolean"
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/TagEntity"
                        }
                    },
                    "feedbackStats": {
                        "$ref": "#/components/schemas/FeedbackStatsDTO"
                    },
                    "view": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "lastActivity": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "public": {
                        "type": "boolean"
                    }
                }
            },
            "MessageDTO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "content": {
                        "type": "string"
                    },
                    "publish": {
                        "type": "boolean",
                        "readOnly": true
                    },
                    "topicId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "userId": {
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "userName": {
                        "type": "string",
                        "readOnly": true
                    },
                    "userImage": {
                        "type": "string",
                        "readOnly": true
                    }
                }
            },
            "TopicSearchDTO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "categoryId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "scopeId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "enable": {
                        "type": "boolean"
                    },
                    "title": {
                        "type": "string"
                    },
                    "isPublic": {
                        "type": "boolean"
                    }
                }
            },
            "Pageable": {
                "type": "object",
                "properties": {
                    "page": {
                        "minimum": 0,
                        "type": "integer",
                        "format": "int32"
                    },
                    "size": {
                        "minimum": 1,
                        "type": "integer",
                        "format": "int32"
                    },
                    "sort": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "PageTopicResponseDTO": {
                "type": "object",
                "properties": {
                    "totalElements": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "totalPages": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "size": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "content": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/TopicResponseDTO"
                        }
                    },
                    "number": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "sort": {
                        "$ref": "#/components/schemas/SortObject"
                    },
                    "pageable": {
                        "$ref": "#/components/schemas/PageableObject"
                    },
                    "first": {
                        "type": "boolean"
                    },
                    "last": {
                        "type": "boolean"
                    },
                    "numberOfElements": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "empty": {
                        "type": "boolean"
                    }
                }
            },
            "PageableObject": {
                "type": "object",
                "properties": {
                    "offset": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "sort": {
                        "$ref": "#/components/schemas/SortObject"
                    },
                    "pageNumber": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "pageSize": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "paged": {
                        "type": "boolean"
                    },
                    "unpaged": {
                        "type": "boolean"
                    }
                }
            },
            "SortObject": {
                "type": "object",
                "properties": {
                    "empty": {
                        "type": "boolean"
                    },
                    "sorted": {
                        "type": "boolean"
                    },
                    "unsorted": {
                        "type": "boolean"
                    }
                }
            },
            "MessageResponseDTO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "content": {
                        "type": "string"
                    },
                    "publish": {
                        "type": "boolean",
                        "readOnly": true
                    },
                    "topicId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "userId": {
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "userName": {
                        "type": "string",
                        "readOnly": true
                    },
                    "userImage": {
                        "type": "string",
                        "readOnly": true
                    },
                    "fileKey": {
                        "type": "string"
                    },
                    "feedbackStats": {
                        "$ref": "#/components/schemas/FeedbackStatsDTO"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "PageMessageResponseDTO": {
                "type": "object",
                "properties": {
                    "totalElements": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "totalPages": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "size": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "content": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/MessageResponseDTO"
                        }
                    },
                    "number": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "sort": {
                        "$ref": "#/components/schemas/SortObject"
                    },
                    "pageable": {
                        "$ref": "#/components/schemas/PageableObject"
                    },
                    "first": {
                        "type": "boolean"
                    },
                    "last": {
                        "type": "boolean"
                    },
                    "numberOfElements": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "empty": {
                        "type": "boolean"
                    }
                }
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        }
    }
}