{
    "openapi": "3.0.1",
    "info": {
        "title": "OpenAPI definition",
        "version": "v0"
    },
    "servers": [
        {
            "url": "http://cogcenter.ir/forum/api",
            "description": "Generated server url"
        }
    ],
    "tags": [
        {
            "name": "category_management",
            "description": "APIs for managing categories. This includes operations to create, update, and retrieve categories."
        }
    ],
    "paths": {
        "/v1/manager/{page}/topics/{topicId}": {
            "put": {
                "tags": [
                    "topic-controller"
                ],
                "operationId": "updateTopic",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "topicId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TopicRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            }
        },
        "/v1/scope/{scopeId}/topics": {
            "get": {
                "tags": [
                    "topic-controller"
                ],
                "operationId": "getTopics",
                "parameters": [
                    {
                        "name": "scopeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "searchDTO",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/TopicSearchDTO"
                        }
                    },
                    {
                        "name": "pageable",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/Pageable"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageTopicResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "topic-controller"
                ],
                "operationId": "createTopic",
                "parameters": [
                    {
                        "name": "scopeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TopicRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/TopicResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            }
        },
        "/v1/scope/{scopeId}/topic/posts": {
            "post": {
                "tags": [
                    "post-controller"
                ],
                "operationId": "setPublicPost",
                "parameters": [
                    {
                        "name": "scopeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            }
        },
        "/v1/manager/{page}/topics": {
            "get": {
                "tags": [
                    "topic-controller"
                ],
                "operationId": "getTopics_1",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "searchDTO",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/TopicSearchDTO"
                        }
                    },
                    {
                        "name": "pageable",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/Pageable"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageTopicResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "topic-controller"
                ],
                "operationId": "createTopic_1",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TopicRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/TopicResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            }
        },
        "/v1/manager/{page}/tags": {
            "post": {
                "tags": [
                    "tag-controller"
                ],
                "operationId": "createTag",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TagEntity"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/TagEntity"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            }
        },
        "/v1/manager/{page}/categories": {
            "post": {
                "tags": [
                    "category_management"
                ],
                "operationId": "setCategories",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CategoryDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            }
        },
        "/v1/manager/{page}/topic/posts/{postId}/publish": {
            "patch": {
                "tags": [
                    "post-controller"
                ],
                "operationId": "getPost",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "postId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "isPublish",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            }
        },
        "/v1/manager/{page}/categories/{categoryId}/enable": {
            "patch": {
                "tags": [
                    "category_management"
                ],
                "operationId": "enableOrDisable",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "categoryId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "enable",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            }
        },
        "/v1/tags": {
            "get": {
                "tags": [
                    "tag-controller"
                ],
                "operationId": "getTags",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TagEntity"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            }
        },
        "/v1/scope/{scopeId}/topics/{topicId}": {
            "get": {
                "tags": [
                    "topic-controller"
                ],
                "operationId": "getTopicById",
                "parameters": [
                    {
                        "name": "scopeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "topicId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/TopicResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            }
        },
        "/v1/scope/{scopeId}/topic/{topicId}/posts": {
            "get": {
                "tags": [
                    "post-controller"
                ],
                "operationId": "getPublicPost",
                "parameters": [
                    {
                        "name": "scopeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "topicId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "pageable",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/Pageable"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PagePostResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            }
        },
        "/v1/scope/{scopeId}/categories": {
            "get": {
                "tags": [
                    "category_management"
                ],
                "operationId": "getCategories",
                "parameters": [
                    {
                        "name": "scopeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CategoryDTO"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            }
        },
        "/v1/manager/{page}/topic/{topicId}/posts": {
            "get": {
                "tags": [
                    "post-controller"
                ],
                "operationId": "getPost_1",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "topicId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "isPublish",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "pageable",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/Pageable"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PagePostResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            }
        },
        "/v1/categories": {
            "get": {
                "tags": [
                    "category_management"
                ],
                "operationId": "getCategories_1",
                "parameters": [
                    {
                        "name": "isEnable",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CategoryDTO"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "TopicRequestDTO": {
                "required": [
                    "categoryId",
                    "enable",
                    "title"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "title": {
                        "type": "string"
                    },
                    "content": {
                        "type": "string"
                    },
                    "categoryId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "enable": {
                        "type": "boolean"
                    },
                    "lastActivityDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    "view": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "public": {
                        "type": "boolean"
                    }
                }
            },
            "ResponseDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            },
            "TagEntity": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string"
                    }
                }
            },
            "TopicResponseDTO": {
                "required": [
                    "categoryId",
                    "enable",
                    "title"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "title": {
                        "type": "string"
                    },
                    "content": {
                        "type": "string"
                    },
                    "categoryId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "enable": {
                        "type": "boolean"
                    },
                    "lastActivityDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/TagEntity"
                        }
                    },
                    "public": {
                        "type": "boolean"
                    }
                }
            },
            "PostDTO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "title": {
                        "type": "string"
                    },
                    "content": {
                        "type": "string"
                    },
                    "publish": {
                        "type": "boolean",
                        "readOnly": true
                    },
                    "topicId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "userId": {
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "userName": {
                        "type": "string",
                        "readOnly": true
                    }
                }
            },
            "CategoryDTO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "title": {
                        "type": "string"
                    },
                    "coverImage": {
                        "type": "string"
                    },
                    "scopeId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "scopeTitle": {
                        "type": "string"
                    },
                    "topicCount": {
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "parentId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "children": {
                        "type": "array",
                        "readOnly": true,
                        "items": {
                            "$ref": "#/components/schemas/CategoryDTO"
                        }
                    },
                    "createAt": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    },
                    "updateAt": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    },
                    "lastLayer": {
                        "type": "boolean"
                    },
                    "enable": {
                        "type": "boolean"
                    }
                }
            },
            "TopicSearchDTO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "categoryId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "scopeId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "enable": {
                        "type": "boolean"
                    },
                    "title": {
                        "type": "string"
                    },
                    "isPublic": {
                        "type": "boolean"
                    }
                }
            },
            "Pageable": {
                "type": "object",
                "properties": {
                    "page": {
                        "minimum": 0,
                        "type": "integer",
                        "format": "int32"
                    },
                    "size": {
                        "minimum": 1,
                        "type": "integer",
                        "format": "int32"
                    },
                    "sort": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "PageTopicResponseDTO": {
                "type": "object",
                "properties": {
                    "totalElements": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "totalPages": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "size": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "content": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/TopicResponseDTO"
                        }
                    },
                    "number": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "sort": {
                        "$ref": "#/components/schemas/SortObject"
                    },
                    "pageable": {
                        "$ref": "#/components/schemas/PageableObject"
                    },
                    "numberOfElements": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "first": {
                        "type": "boolean"
                    },
                    "last": {
                        "type": "boolean"
                    },
                    "empty": {
                        "type": "boolean"
                    }
                }
            },
            "PageableObject": {
                "type": "object",
                "properties": {
                    "offset": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "sort": {
                        "$ref": "#/components/schemas/SortObject"
                    },
                    "pageNumber": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "pageSize": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "paged": {
                        "type": "boolean"
                    },
                    "unpaged": {
                        "type": "boolean"
                    }
                }
            },
            "SortObject": {
                "type": "object",
                "properties": {
                    "empty": {
                        "type": "boolean"
                    },
                    "sorted": {
                        "type": "boolean"
                    },
                    "unsorted": {
                        "type": "boolean"
                    }
                }
            },
            "CommentStats": {
                "type": "object",
                "properties": {
                    "count": {
                        "type": "integer",
                        "format": "int64"
                    }
                }
            },
            "FeedbackStatsDTO": {
                "type": "object",
                "properties": {
                    "modelId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "comment": {
                        "$ref": "#/components/schemas/CommentStats"
                    },
                    "reaction": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ReactionResponseDTO"
                        }
                    }
                }
            },
            "PagePostResponseDTO": {
                "type": "object",
                "properties": {
                    "totalElements": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "totalPages": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "size": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "content": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PostResponseDTO"
                        }
                    },
                    "number": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "sort": {
                        "$ref": "#/components/schemas/SortObject"
                    },
                    "pageable": {
                        "$ref": "#/components/schemas/PageableObject"
                    },
                    "numberOfElements": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "first": {
                        "type": "boolean"
                    },
                    "last": {
                        "type": "boolean"
                    },
                    "empty": {
                        "type": "boolean"
                    }
                }
            },
            "PostResponseDTO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "title": {
                        "type": "string"
                    },
                    "content": {
                        "type": "string"
                    },
                    "publish": {
                        "type": "boolean",
                        "readOnly": true
                    },
                    "topicId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "userId": {
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "userName": {
                        "type": "string",
                        "readOnly": true
                    },
                    "feedbackStats": {
                        "$ref": "#/components/schemas/FeedbackStatsDTO"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "ReactionResponseDTO": {
                "type": "object",
                "properties": {
                    "reactionTypeId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "reactionType": {
                        "type": "string"
                    },
                    "count": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "userReacted": {
                        "type": "boolean"
                    }
                }
            }
        },
        "securitySchemes": {
            "Bearer Authentication": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        }
    }
}
