{
    "openapi": "3.0.1",
    "info": {
        "title": "News API",
        "description": "The news service.",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://cogcenter.ir/news/api"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "tags": [
        {
            "name": "category_management",
            "description": "APIs for managing categories. This includes operations to create, update, and retrieve categories."
        }
    ],
    "paths": {
        "/v1/manager/{page}/posts/{postId}": {
            "get": {
                "tags": [
                    "post-controller"
                ],
                "operationId": "getPost_1",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "postId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostDTO"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "post-controller"
                ],
                "operationId": "updatePost",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "postId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/manager/{page}/categories/{categoryId}": {
            "put": {
                "tags": [
                    "category_management"
                ],
                "operationId": "updateCategory",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "categoryId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CategoryDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            }
        },
        "/v1/manager/{page}/posts": {
            "get": {
                "tags": [
                    "post-controller"
                ],
                "operationId": "getAllPost",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageable",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Pageable"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PagePostDTO"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "post-controller"
                ],
                "operationId": "createPost",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/manager/{page}/posts/{postId}/confirmation": {
            "post": {
                "tags": [
                    "post-controller"
                ],
                "operationId": "confirmationPost",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "postId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/manager/{page}/categories": {
            "post": {
                "tags": [
                    "category_management"
                ],
                "operationId": "setCategories",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CategoryDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            }
        },
        "/v1/manager/{page}/posts/{postId}/status": {
            "patch": {
                "tags": [
                    "post-controller"
                ],
                "operationId": "changeState",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "postId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "statusId",
                        "in": "query",
                        "description": "2: AWAITING_CORRECTION 3: AWAITING_PUBLISHED 4: PUBLISHED 5: UN_PUBLISH",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                "2",
                                "3",
                                "4",
                                "5"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/scope/{scopeId}/posts": {
            "get": {
                "tags": [
                    "post-controller"
                ],
                "operationId": "getPosts",
                "parameters": [
                    {
                        "name": "scopeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "searchDTO",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/PostSearchDTO"
                        }
                    },
                    {
                        "name": "pageable",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Pageable"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PagePostDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/scope/{scopeId}/posts/{postId}": {
            "get": {
                "tags": [
                    "post-controller"
                ],
                "operationId": "getPost",
                "parameters": [
                    {
                        "name": "scopeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "postId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/scope/{scopeId}/posts/most-controversial": {
            "get": {
                "tags": [
                    "post-controller"
                ],
                "operationId": "getPosts_1",
                "parameters": [
                    {
                        "name": "scopeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "periodLength",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "maximum": 30,
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/scope/{scopeId}/categories": {
            "get": {
                "tags": [
                    "category_management"
                ],
                "operationId": "getCategories",
                "parameters": [
                    {
                        "name": "scopeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CategoryDTO"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            }
        },
        "/v1/report/online/today/posts": {
            "get": {
                "tags": [
                    "report-controller"
                ],
                "operationId": "todayPostReport",
                "parameters": [
                    {
                        "name": "scopeId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PerDayReport"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/report/monthly/posts": {
            "get": {
                "tags": [
                    "report-controller"
                ],
                "operationId": "monthlyPostReport",
                "parameters": [
                    {
                        "name": "scopeId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "length",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "maximum": 12,
                            "type": "integer",
                            "format": "int32",
                            "default": 6
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PerMonthReport"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/report/daily/posts": {
            "get": {
                "tags": [
                    "report-controller"
                ],
                "operationId": "dailyPostReport",
                "parameters": [
                    {
                        "name": "scopeId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "length",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "maximum": 30,
                            "type": "integer",
                            "format": "int32",
                            "default": 30
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PerDayReport"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/categories": {
            "get": {
                "tags": [
                    "category_management"
                ],
                "operationId": "getCategories_1",
                "parameters": [
                    {
                        "name": "isEnable",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CategoryDTO"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "FeedbackStatsDTO": {
                "type": "object",
                "properties": {
                    "modelType": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "modelId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "commentCount": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "rating": {
                        "$ref": "#/components/schemas/RatingResponseDTO"
                    },
                    "reaction": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/ReactionResponseDTO"
                        }
                    }
                }
            },
            "PostDTO": {
                "required": [
                    "categoryId",
                    "title"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "title": {
                        "type": "string"
                    },
                    "coverImage": {
                        "type": "string"
                    },
                    "fileKey": {
                        "type": "string",
                        "readOnly": true
                    },
                    "content": {
                        "type": "string"
                    },
                    "statusId": {
                        "type": "integer",
                        "format": "int32",
                        "readOnly": true
                    },
                    "userId": {
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "categoryId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "scopeId": {
                        "type": "integer",
                        "format": "int32",
                        "readOnly": true
                    },
                    "isPublic": {
                        "type": "boolean"
                    },
                    "publishAt": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    },
                    "viewCount": {
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "feedbackStats": {
                        "$ref": "#/components/schemas/FeedbackStatsDTO"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    }
                }
            },
            "RatingResponseDTO": {
                "type": "object",
                "properties": {
                    "average": {
                        "type": "number",
                        "format": "double"
                    },
                    "total": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "userScore": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "result": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/Result"
                        }
                    }
                }
            },
            "ReactionResponseDTO": {
                "type": "object",
                "properties": {
                    "count": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "userReacted": {
                        "type": "boolean"
                    }
                }
            },
            "Result": {
                "type": "object",
                "properties": {
                    "count": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "percent": {
                        "type": "number",
                        "format": "double"
                    }
                }
            },
            "CategoryDTO": {
                "required": [
                    "scopeId",
                    "title"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "title": {
                        "type": "string"
                    },
                    "coverImage": {
                        "type": "string"
                    },
                    "fileKey": {
                        "type": "string",
                        "readOnly": true
                    },
                    "scopeId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "enable": {
                        "type": "boolean"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    }
                }
            },
            "ResponseDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            },
            "PostSearchDTO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "categoryId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "statusId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "title": {
                        "type": "string"
                    },
                    "isPublic": {
                        "type": "boolean"
                    },
                    "scopeId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "from": {
                        "type": "string",
                        "format": "date"
                    },
                    "to": {
                        "type": "string",
                        "format": "date"
                    }
                }
            },
            "Pageable": {
                "type": "object",
                "properties": {
                    "page": {
                        "minimum": 0,
                        "type": "integer",
                        "format": "int32"
                    },
                    "size": {
                        "minimum": 1,
                        "type": "integer",
                        "format": "int32"
                    },
                    "sort": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "PagePostDTO": {
                "type": "object",
                "properties": {
                    "totalPages": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "totalElements": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "size": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "content": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PostDTO"
                        }
                    },
                    "number": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "sort": {
                        "$ref": "#/components/schemas/SortObject"
                    },
                    "pageable": {
                        "$ref": "#/components/schemas/PageableObject"
                    },
                    "first": {
                        "type": "boolean"
                    },
                    "last": {
                        "type": "boolean"
                    },
                    "numberOfElements": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "empty": {
                        "type": "boolean"
                    }
                }
            },
            "PageableObject": {
                "type": "object",
                "properties": {
                    "offset": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "sort": {
                        "$ref": "#/components/schemas/SortObject"
                    },
                    "pageNumber": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "pageSize": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "paged": {
                        "type": "boolean"
                    },
                    "unpaged": {
                        "type": "boolean"
                    }
                }
            },
            "SortObject": {
                "type": "object",
                "properties": {
                    "empty": {
                        "type": "boolean"
                    },
                    "sorted": {
                        "type": "boolean"
                    },
                    "unsorted": {
                        "type": "boolean"
                    }
                }
            },
            "PerDayReport": {
                "type": "object",
                "properties": {
                    "createCount": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "publishCount": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "viewCount": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "commentCount": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "date": {
                        "type": "string",
                        "format": "date"
                    }
                }
            },
            "PerMonthReport": {
                "type": "object",
                "properties": {
                    "createCount": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "publishCount": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "viewCount": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "commentCount": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "year": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "month": {
                        "type": "integer",
                {
    "openapi": "3.0.1",
    "info": {
        "title": "News API",
        "description": "The news service.",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://cogcenter.ir/news/api"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "tags": [
        {
            "name": "category_management",
            "description": "APIs for managing categories. This includes operations to create, update, and retrieve categories."
        }
    ],
    "paths": {
        "/v1/manager/{page}/posts/{postId}": {
            "get": {
                "tags": [
                    "post-controller"
                ],
                "operationId": "getPost_1",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "postId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostDTO"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "post-controller"
                ],
                "operationId": "updatePost",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "postId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/manager/{page}/categories/{categoryId}": {
            "put": {
                "tags": [
                    "category_management"
                ],
                "operationId": "updateCategory",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "categoryId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CategoryDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            }
        },
        "/v1/manager/{page}/posts": {
            "get": {
                "tags": [
                    "post-controller"
                ],
                "operationId": "getAllPost",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "searchDTO",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/PostSearchDTO"
                        }
                    },
                    {
                        "name": "pageable",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Pageable"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PagePostDTO"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "post-controller"
                ],
                "operationId": "createPost",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/manager/{page}/posts/{postId}/confirmation": {
            "post": {
                "tags": [
                    "post-controller"
                ],
                "operationId": "confirmationPost",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "postId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/manager/{page}/categories": {
            "post": {
                "tags": [
                    "category_management"
                ],
                "operationId": "setCategories",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CategoryDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            }
        },
        "/v1/manager/{page}/posts/{postId}/status": {
            "patch": {
                "tags": [
                    "post-controller"
                ],
                "operationId": "changeState",
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "postId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "statusId",
                        "in": "query",
                        "description": "2: AWAITING_CORRECTION 3: AWAITING_PUBLISHED 4: PUBLISHED 5: UN_PUBLISH",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                "2",
                                "3",
                                "4",
                                "5"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/scope/{scopeId}/posts": {
            "get": {
                "tags": [
                    "post-controller"
                ],
                "operationId": "getPosts",
                "parameters": [
                    {
                        "name": "scopeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "searchDTO",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/PostSearchDTO"
                        }
                    },
                    {
                        "name": "pageable",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Pageable"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PagePostDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/scope/{scopeId}/posts/{postId}": {
            "get": {
                "tags": [
                    "post-controller"
                ],
                "operationId": "getPost",
                "parameters": [
                    {
                        "name": "scopeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "postId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/scope/{scopeId}/posts/most-controversial": {
            "get": {
                "tags": [
                    "post-controller"
                ],
                "operationId": "getPosts_1",
                "parameters": [
                    {
                        "name": "scopeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "periodLength",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "maximum": 30,
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/scope/{scopeId}/categories": {
            "get": {
                "tags": [
                    "category_management"
                ],
                "operationId": "getCategories",
                "parameters": [
                    {
                        "name": "scopeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CategoryDTO"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            }
        },
        "/v1/report/online/today/posts": {
            "get": {
                "tags": [
                    "report-controller"
                ],
                "operationId": "todayPostReport",
                "parameters": [
                    {
                        "name": "scopeId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PerDayReport"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/report/monthly/posts": {
            "get": {
                "tags": [
                    "report-controller"
                ],
                "operationId": "monthlyPostReport",
                "parameters": [
                    {
                        "name": "scopeId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "length",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "maximum": 12,
                            "type": "integer",
                            "format": "int32",
                            "default": 6
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PerMonthReport"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/report/daily/posts": {
            "get": {
                "tags": [
                    "report-controller"
                ],
                "operationId": "dailyPostReport",
                "parameters": [
                    {
                        "name": "scopeId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "length",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "maximum": 30,
                            "type": "integer",
                            "format": "int32",
                            "default": 30
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PerDayReport"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/categories": {
            "get": {
                "tags": [
                    "category_management"
                ],
                "operationId": "getCategories_1",
                "parameters": [
                    {
                        "name": "isEnable",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CategoryDTO"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer Authentication": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "FeedbackStatsDTO": {
                "type": "object",
                "properties": {
                    "modelType": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "modelId": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "commentCount": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "rating": {
                        "$ref": "#/components/schemas/RatingResponseDTO"
                    },
                    "reaction": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/ReactionResponseDTO"
                        }
                    }
                }
            },
            "PostDTO": {
                "required": [
                    "categoryId",
                    "title"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "title": {
                        "type": "string"
                    },
                    "coverImage": {
                        "type": "string"
                    },
                    "fileKey": {
                        "type": "string",
                        "readOnly": true
                    },
                    "content": {
                        "type": "string"
                    },
                    "statusId": {
                        "type": "integer",
                        "format": "int32",
                        "readOnly": true
                    },
                    "userId": {
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "categoryId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "scopeId": {
                        "type": "integer",
                        "format": "int32",
                        "readOnly": true
                    },
                    "isPublic": {
                        "type": "boolean"
                    },
                    "publishAt": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    },
                    "viewCount": {
                        "type": "integer",
                        "format": "int64",
                        "readOnly": true
                    },
                    "feedbackStats": {
                        "$ref": "#/components/schemas/FeedbackStatsDTO"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    }
                }
            },
            "RatingResponseDTO": {
                "type": "object",
                "properties": {
                    "average": {
                        "type": "number",
                        "format": "double"
                    },
                    "total": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "userScore": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "result": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/Result"
                        }
                    }
                }
            },
            "ReactionResponseDTO": {
                "type": "object",
                "properties": {
                    "count": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "userReacted": {
                        "type": "boolean"
                    }
                }
            },
            "Result": {
                "type": "object",
                "properties": {
                    "count": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "percent": {
                        "type": "number",
                        "format": "double"
                    }
                }
            },
            "CategoryDTO": {
                "required": [
                    "scopeId",
                    "title"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "title": {
                        "type": "string"
                    },
                    "coverImage": {
                        "type": "string"
                    },
                    "fileKey": {
                        "type": "string",
                        "readOnly": true
                    },
                    "scopeId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "enable": {
                        "type": "boolean"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    }
                }
            },
            "ResponseDTO": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            },
            "PostSearchDTO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "categoryId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "statusId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "title": {
                        "type": "string"
                    },
                    "isPublic": {
                        "type": "boolean"
                    },
                    "scopeId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "from": {
                        "type": "string",
                        "format": "date"
                    },
                    "to": {
                        "type": "string",
                        "format": "date"
                    }
                }
            },
            "Pageable": {
                "type": "object",
                "properties": {
                    "page": {
                        "minimum": 0,
                        "type": "integer",
                        "format": "int32"
                    },
                    "size": {
                        "minimum": 1,
                        "type": "integer",
                        "format": "int32"
                    },
                    "sort": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "PagePostDTO": {
                "type": "object",
                "properties": {
                    "totalPages": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "totalElements": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "size": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "content": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PostDTO"
                        }
                    },
                    "number": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "sort": {
                        "$ref": "#/components/schemas/SortObject"
                    },
                    "pageable": {
                        "$ref": "#/components/schemas/PageableObject"
                    },
                    "first": {
                        "type": "boolean"
                    },
                    "last": {
                        "type": "boolean"
                    },
                    "numberOfElements": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "empty": {
                        "type": "boolean"
                    }
                }
            },
            "PageableObject": {
                "type": "object",
                "properties": {
                    "offset": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "sort": {
                        "$ref": "#/components/schemas/SortObject"
                    },
                    "pageNumber": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "pageSize": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "paged": {
                        "type": "boolean"
                    },
                    "unpaged": {
                        "type": "boolean"
                    }
                }
            },
            "SortObject": {
                "type": "object",
                "properties": {
                    "empty": {
                        "type": "boolean"
                    },
                    "sorted": {
                        "type": "boolean"
                    },
                    "unsorted": {
                        "type": "boolean"
                    }
                }
            },
            "PerDayReport": {
                "type": "object",
                "properties": {
                    "createCount": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "publishCount": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "viewCount": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "commentCount": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "date": {
                        "type": "string",
                        "format": "date"
                    }
                }
            },
            "PerMonthReport": {
                "type": "object",
                "properties": {
                    "createCount": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "publishCount": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "viewCount": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "commentCount": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "year": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "month": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "monthTitle": {
                        "type": "string"
                    }
                }
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        }
    }
}        "format": "int32"
                    },
                    "monthTitle": {
                        "type": "string"
                    }
                }
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        }
    }
}