@tailwind base; /* we use bootstrap instead */
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: unset !important;
}

html,
body {
  height: 100%;
  font-family: Vazirmatn;
}

svg {
  display: inline;
  font-size: 1.5rem;
}
button svg {
  font-size: 1rem;
}

time {
  @apply text-black text-opacity-50;
}

@layer base {
  :is(button, [role='button']):not(:where([class~="not-styled"],[class~="not-styled"] *)) {
    @apply btn;
  }
  :is(input, [role='input']):not(:where([type="checkbox"], [class~="not-styled"], [class~="not-styled"] *)) {
    @apply input input-bordered;
  }
  :is(select, [role='select']):not(:where([class~="not-styled"], [class~="not-styled"] *)) {
    @apply select select-bordered;
  }
  :is(select).not-styled {
    appearance: none;
    background: transparent;
    outline: none !important;
    border: none;
  }
}

@layer components {
  .modal-backdrop {
    opacity: 0.3;
  }

  .btn.btn-transparent {
    background: transparent;
    border: none;
  }

  .card.image-full:before {
    content: none;
  }
}
