@tailwind base; /* we use bootstrap instead */
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: unset !important;
}

body {
  min-height: 100vh;
  height: 100%;
  font-family: Vazirmatn;
  background: #f0f0f0;
}

svg {
  display: inline;
  font-size: 1.5rem;
}
button svg {
  font-size: 1rem;
}

time {
  @apply text-black text-opacity-50;
}

@layer base {
  :is(button, [role='button']):not(:where([class~='not-styled'], [class~='not-styled'] *)) {
    @apply btn;
  }
  :is(input, [role='input']):not(:where([type='checkbox'], [class~='not-styled'], [class~='not-styled'] *)) {
    @apply input input-bordered;
  }
  :is(select, [role='select']):not(:where([class~='not-styled'], [class~='not-styled'] *)) {
    @apply select select-bordered;
  }
  :is(select).not-styled {
    appearance: none;
    background: transparent;
    outline: none !important;
    border: none;
  }

  main {
    @screen lg {
      --screen-padding: 3rem;
    }
    @screen md {
      --screen-padding: 1.5rem;
    }
    --screen-padding: 0.5rem;
    padding-left: var(--screen-padding);
    padding-right: var(--screen-padding);
  }
}

@layer components {
  .breadcrumbs {
    @apply my-8;
  }

  .modal-backdrop {
    opacity: 0.3;
  }

  .table-zebra tbody tr:nth-child(2n + 1) {
    --tw-bg-opacity: 1;
    background-color: white;
  }

  .tag {
    padding: 0.25rem 0.375rem;
    border: 1px solid #d1d6db;
    border-radius: 1rem;
  }

  .btn.btn-transparent {
    background: transparent;
    border: none;
  }

  .fab {
    position: fixed;
    left: 3rem;
    bottom: 3rem;
    opacity: 0.9;
  }
  .fab:hover {
    opacity: 1;
  }
  .card {
    @apply bg-white;
    --padding-card: 0;
  }
  .card:not(.image-full, [class*='p-']) {
    @apply p-6;
  }
  .card.image-full:before {
    content: none;
  }
}
