:root {
  --ck-color-base-background: #cbd5df40;
  --ck-color-base-foreground: #00000080;
}

.ck-powered-by-balloon {
  display: none !important;
}

/* .ck * {
  unicode-bidi: plaintext;
} */

.ck-content.ck-read-only > *:first-child {
  margin-top: 0;
}
.ck-content.ck-read-only > *:last-child {
  margin-bottom: 0;
}

.ck-editor__editable_inline:not(.ck-comment__input *) {
  height: 300px;
  overflow-y: auto;
}
